/*

---GLOBAIS---

*/
*{
    box-sizing: border-box;
}

html,body{
    margin:0;
}
body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: 'Roboto',sans-serif;
    background-color: #f9f9f9;
}


/*

---HEADER---

*/

header{
    text-align: center;
}
header button{
    padding: 8px 16px;
    border-radius: 4px;
    background-color: #ff4f4f;
    color: white;
    font-weight: bold;
    border:none;
    margin-top: 16px;
}

header p{
    font-size: 14px;
    color: gray;
}

h1,h2{
    color: #000000cc;
}
.logo{
    width: 120px;
    margin: 70px 0;
}



/*

---CORPO---

*/

main{
    text-align: center;
}
main h2 span{
    color: #ff4f4f;
}

section.donors{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.donor p{
    margin-top: 24px;
    font-size: 14px;
}
section.form{
    display: grid;
    grid-template-columns:1fr 1fr;    
    grid-gap: 45px;
    background-color: #ff4f4f;
    padding: 16px 64px;
    align-items: center;
    border-radius: 6px;
}
.form input,.form button{
    /* Largura */
    width: 100%;

    /* Espaçamentos */
    margin-bottom: 4px;

    /* Preenchimento */
    padding:8px 16px;

    /* Corrigindo comportamento padrão css */
    box-sizing: border-box;
    
    /* Bordas */
    border-radius: 4px;
    border: 1px #ffffff88 solid; 
    
}

.form input{
    background-color: transparent;

}
.form input::placeholder{
    color: #ffffffaa;
}
.form button{
    font-weight: bold;
}

.form h2{
    text-align: left;
    display: grid;
    color: whitesmoke ;
}

.blood{
    color: #ff4f4f;
    font-weight: bold;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.blood::before{
    content: "";
    background-color:#ff4f4f11 ;
    width: 40px;
    height: 40px;
    position: absolute;

    /* Fazer a gotinha */
    border-radius: 50%;
    border-top-right-radius: 0;
    transform: rotate(-45deg);
}



/*

---FOOTER---

*/

footer{
    text-align: center;    
    margin-top: auto; /* Para posicionar o footer depois do corpo, e vai se ajustando conforme o corpo aumenta, funciona com display-flex */
    padding: 16px;
    border-bottom: 1px solid #fff;
}




/*

---CONFIGS GERAIS---

*/
header, .form, main{      
    margin:0 auto 70px; 
    width: 90%;
    max-width: 500px;
}

header h1,main h2{
    margin-bottom: 70px;
}


/*

---Funções do JS---

*/

section.form{
    transition: all 300;
}

section.form.hide{
    opacity: 0;
    visibility:hidden;
    height: 0;
    margin: 0;
    padding: 0;
}